<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h2> <%= @piglatin.piglatinize(@user_phrase) %> </h2>
  </body>
</html>
